<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--  PreProcessor  -->
    <bean id="preProcessor" class="preProcessor.PreProcessorToUpperImpl">
    </bean>
    <bean id="preProcessor1" class="preProcessor.PreProcessorToLower">
    </bean>

    <!--  Printer  -->
    <bean id="printerWithPrefixERR" class="printer.PrinterWithPrefixImpl">
        <constructor-arg name="renderer" ref="renderer"/>
    </bean>
    <bean id="printerWithPrefix" class="printer.PrinterWithPrefixImpl">
        <constructor-arg name="renderer" ref="rendererSTD"/>
    </bean>
    <bean id="printerWithData" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg name="renderer" ref="rendererSTD"/>
    </bean>
    <bean id="printerWithDataERR" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg name="renderer" ref="renderer"/>
    </bean>
    <bean id="printerWithPrefixERRLower" class="printer.PrinterWithPrefixImpl">
        <constructor-arg name="renderer" ref="rendererLower"/>
    </bean>
    <bean id="printerWithPrefixLower" class="printer.PrinterWithPrefixImpl">
        <constructor-arg name="renderer" ref="rendererSTDLower"/>
    </bean>
    <bean id="printerWithDataLower" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg name="renderer" ref="rendererSTDLower"/>
    </bean>
    <bean id="printerWithDataERRLower" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg name="renderer" ref="rendererLower"/>
    </bean>

    <!--  Render  -->
    <bean id="renderer" class="renderer.RendererErrImpl">
        <constructor-arg name="preProcessor" ref="preProcessor"/>
    </bean>
    <bean id="rendererSTD" class="renderer.RendererStandardImpl">
        <constructor-arg name="preProcessor" ref="preProcessor"/>
    </bean>
    <bean id="rendererLower" class="renderer.RendererErrImpl">
        <constructor-arg name="preProcessor" ref="preProcessor1"/>
    </bean>
    <bean id="rendererSTDLower" class="renderer.RendererStandardImpl">
        <constructor-arg name="preProcessor" ref="preProcessor1"/>
    </bean>


</beans>